html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #1e2d59;
    font: 36px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #d74b4b;
    text-align: center;
    align-content: center;
    justify-content: center;

}

#cats {
    width: 450px;
    height: 400px;
    text-align: center;
}

#catImage {
    position: absolute;
    width: 400px;
    height: 390px;
}

button {
    position: relative;
    top: -10px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    background: #ef7c1a;

    height: 390px;
    width: 40px;
    opacity: 50%;
}

main {
    display: flex;
    flex-direction: column;
}

#buttonPrev {
    right: 10px;
    border-radius: 0 20px 20px 0;
}

#buttonNext {
    left: 280px;
    border-radius: 20px 0 0 20px;
}
